a {
  text-decoration: none;
}

body {
  font-family: sans-serif;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

form div {
  margin: 1em;
  display: inline-block;
}

img {
  max-width: 100%;
}

.img-small {
  width: 25%
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}


