a {
  text-decoration: none;
}

.add-button-style {
  width: 7em;
  font-size: 30px;
  padding: 10px;
  color: white;
  border: inset 2px #31708f;
  border-radius: 10px;
  background-image: linear-gradient(
    45deg,
    rgb(10, 42, 54) 40%,
    rgb(0, 209, 255) 150%
  );
  box-shadow: 0px 0px 0px 1px rgb(19, 228, 247);
  transition: color 1s, background-color 1.5s;
}

.add-button-style:hover {
  color: #202b47;
  background-image: linear-gradient(45deg, #ddf1ff, #42a7d4);
}

.align-items-center {
  align-items: center;
}

.align-self-center {
  align-self: center;
}

body {
  font-family: sans-serif;
}

.categories {
  color: black;
}

.categories:hover {
  text-shadow: 0px 0px 1.5px rgb(19, 228, 247);
}

.color-white {
  color: white;
}

.shooping-cart-styling {
  height: calc(16vw - 10em);
  filter: invert(100%);
  transition: color 1s, background-color 0.5s;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

.flex-wrapper {
  flex-wrap: wrap;
}

form div {
  margin: 1em;
  display: inline-block;
}

.font-color-red {
  color: #d02121;
}

.font-color-blue {
  color: #0930bd;
}

.font-color-green {
  color: #3f8819;
}

.font-size-2em {
  font-size: 2em;
}

.font-size-1-05em {
  font-size: 1.5em;
}

.font-size-1em {
  font-size: 1em;
}

.header-style {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(45deg, #f3faff, #2c88b1);
  border-radius: 0 0 1em 0;
  transition: transform 0.5s ease;
}

.header-buttons {
  box-shadow: 0px 0px 0px 1px rgb(19, 228, 247);
  border: inset 1px #31708f;
  font-size: 1.3em;
  color: #fff;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  transition: color 1s, background-color 0.5s;
}
.header-buttons:hover {
  color: #202b47;
  background-image: linear-gradient(45deg, #ddf1ff, #42a7d4);
}

img {
  max-width: 100%;
}

.img-all-products {
  border-radius: 8px;
  align-self: center;
  height: 200px;
}

.img-single-product {
  height: calc(49vw - 18em);
  border-radius: 8px;
  margin: 20px;
}

.img-logo {
  height: calc(16vw - 10em);
}

.img-small {
  width: 250px;
}

.input-style {
  text-align: center;
  outline: none;
  font-size: 30px;
  border: inset 3px #617180;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

.input-style:focus {
  text-shadow: 0px 0px 5px rgb(19, 228, 247);
  box-shadow: 0px 0px 5px 1.1px rgb(19, 228, 247);
  border: inset 3px #31708f;
}

.just-cont-space-between {
  justify-content: space-between;
}

.just-cont-space-evenly {
  justify-content: space-evenly;
}

.just-cont-space-around {
  justify-content: space-around;
}

label {
  display: block;
}

.margin-15px-20px {
  margin: 15px 20px;
}

.margin-15px-10px {
  margin: 15px 10px;
}

.margin-10px-20px {
  margin: 10px 20px;
}

.margin-30px {
  margin: 30px;
}

.margin-50px {
  margin: 50px;
}

.margin-20px-50px {
  margin: 20px 50px;
}

.margin-80px-sides {
  margin: 0px 80px;
}

.margin-250px-sides {
  margin: 0px 250px;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.price-red-color {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(
    45deg,
    rgb(154, 54, 54) 40%,
    rgb(255, 59, 0) 100%
  );
}

.products-rendering {
  margin: 5px 5px;
  justify-content: space-around;
  border: outset;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 0px 1px rgb(19, 228, 247);
  border: inset 3px #dcf3ff;
  border-radius: 15px;
  background-image: linear-gradient(45deg, #f3faff, #2c88b1);
}

.quantity-style {
  margin: 0px 10px;
  height: 2em;
  width: 5em;
}

#sidebar {
  display: flex;
  flex-direction: column;
  width: calc(35vw - 7em);
  border-right: inset 4px #dcf3ff;
  background-image: linear-gradient(136deg, #ffffff, #89cdeab8);
}

.width-35vw {
  width: calc(35vw - 7em);
}

.width-50vw {
  width: calc(50vw - 7em);
}

.width-55vw {
  width: calc(50vw - 7em);
}



.width-20vw {
  width: 23%;
}

.width-25 {
  width: 25%;
}

.width-200 {
  width: 200%;
}
