a {
  text-decoration: none;
}

.align-items-center {
  align-items: center;
}

body {
  font-family: sans-serif;
}

.shooping-cart-styling {
  height: calc(16vw - 10em);
  filter: invert(100%);
  transition: color 1s, background-color 0.5s;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

.flex-wrapper {
  flex-wrap: wrap;
}

form div {
  margin: 1em;
  display: inline-block;
}

.font-color-red {
  color: #d02121;
}

.font-color-blue {
  color: #0930bd;
}

.font-color-green {
  color: #3f8819;
}

.font-size-2em {
  font-size: 2em;
}

.font-size-1-05em {
  font-size: 1.5em;
}

.header-style {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-image: linear-gradient(45deg, #f3faff, #2c88b1);
  border-radius: 0 0 1em 1em;
  transition: transform 0.5s ease;
}

.header-buttons {
  box-shadow: 0px 0px 0px 1px rgb(19, 228, 247);
  border: inset 1px #31708f;
  font-size: 1.3em;
  color: #fff;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  transition: color 1s, background-color 0.5s;
}
.header-buttons:hover {
  color: #202b47;
  background-image: linear-gradient(45deg, #ddf1ff, #42a7d4);
}

img {
  max-width: 100%;
}

.img-all-products {
  border-radius: 8px;
  align-self: center;
  height: 200px;
}

.img-logo {
  height: calc(16vw - 10em);
}

.img-small {
  width: 250px;
}

.input-style {
  text-align: center;
  outline: none;
  text-shadow: 0px 0px 5px rgb(19, 228, 247);
  font-size: 30px;
  border: inset 3px #617180;
  transition: box-shadow 0.2s ease-in-out;
}

.input-style:focus {
  box-shadow: 0px 0px 20px 2px rgb(19, 228, 247);
  border: inset 6px #31708f;
}

.just-cont-space-between {
  justify-content: space-between;
}

label {
  display: block;
}

.margin-15px-20px {
  margin: 15px 20px;
}

.margin-10px-20px {
  margin: 10px 20px;
}

.margin-30px {
  margin: 30px;
}

.margin-50px {
  margin: 50px;
}

.margin-80px-sides {
  margin: 0px 80px;
}

.margin-250px-sides {
  margin: 0px 250px;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.price-red-color {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(
    45deg,
    rgb(154, 54, 54) 40%,
    rgb(255, 59, 0) 100%
  );
}

.products-rendering {
  margin: 5px 5px;
  justify-content: space-around;
  border: outset;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 0px 1px rgb(19, 228, 247);
  border: inset 4px #31708f;
  border-radius: 15px;
  background-image: linear-gradient(45deg, #f3faff, #2c88b1);
}



.width-23 {
  width: 23%;
}

.width-25 {
  width: 25%;
}
